<%= form_with(model: @sport_club, local: true, data: { turbo: false }, url: sport_clubs_path) do |form|%>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :director_name %>
  <%= form.text_field :director_name %>
</div>

<div>
  <%= form.label :phone %>
  <%= form.text_field :phone %>
</div>

<div>
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div>
  <%= form.label :site %>
  <%= form.text_field :site %>
</div>
  
<div>
  <%= form.label :adress %>
  <%= form.rich_text_area :adress %>
</div>

<div>
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

<div>
  <%= form.label :pictures %>
  <%= form.file_field :pictures, multiple: true %>
</div>

<%= form.submit%>

<% end %>