
<h3>Payment:</h3>
<p><%= @payment.title %></p>
<p><%= @payment.body %></p>

<h3>Bank details:</h3>
<p><%= @bank_detail.name %></p>
<p><%= @bank_detail.adress %></p>
<p><%= @bank_detail.phone %></p>
<p><%= @bank_detail.settlement_account %></p>
<p><%= @bank_detail.correspondent_account %></p>
<p><%= @bank_detail.BIK %></p>
<p><%= @bank_detail.bank_name %></p>
<p><%= @bank_detail.INN %></p>
<p><%= @bank_detail.KPP %></p>
<p><%= @bank_detail.OKPO %></p>
<p><%= @bank_detail.OGRN %></p>
<p><%= @bank_detail.OKWED %></p>

