<!DOCTYPE html>
<html>
  <head>
    <title>Alpha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
          
    <main class="container mx-auto mt-28 px-5 ">

      <header class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md">
          
          
          <div class="flex-1 flex justify-between items-center">
              <a href="/news" class="text-xl">Альфа</a>
          </div>

          <nav>
              <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">

                <li>
                             
                    <details class="group">

                      <summary
                          class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none 
                          hover:cursor-pointer">

                          <span class="flex gap-2">
                              
                                  Prajwal Hallale
                              
                          </span>
                        
                      </summary>

                          <ul class="flex flex-col gap-4 pl-2 mt-4">

                              <li class="flex gap-2">
                                  
                                  <a href=" ">
                                      Dashboard
                                  </a>
                              </li>


                              <li class="flex gap-2">
                                  

                                  <a href=" ">
                                      Study Lists
                                  </a>
                              </li>


                              <li class="flex gap-2">
                                
                                  <a href=" ">
                                      Your contribution
                                  </a>
                              </li>


                              <li class="flex gap-2">
                                  

                                  <a href=" ">
                                      Settings
                                  </a>
                              </li>
                              
                          </ul>

                          

                    </details>


                </li>

                <li><a class="md:p-4 py-3 px-0 block" href="/history">History</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="/contacts">Contacts</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="/support">Support</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="/payment">Payment</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="/award">Award</a></li>
                <li><a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="/newspaper">Newspaper</a></li>      
              
              </ul>
          </nav> 
          
      </header>

        <%= yield %>
    </main>
  </body>
</html>
